<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="RutaServicioCirugiaPersonalQ" value="http://localhost:1197/ServicioCirugiaPersonalQ.asmx"/>
    <add key="RutaServicioPaciente" value="http://localhost:1197/ServicioPaciente.asmx"/>
    <add key="RutaServicioCirujia" value="http://localhost:1197/ServicioCirugia.asmx"/>
    <add key="RutaServicioPaqueteFinanciero" value="http://localhost:1197/ServicioPaqueteFinanciero.asmx"/>
    <add key="RutaServicioPago" value="http://localhost:1197/ServicioPagos.asmx"/>
    <add key="RutaServicioCirugiaCirujano" value="http://localhost:1197/ServicioCirugiaCirujano.asmx"/>
    <add key="RutaServicioCirugiaPaqueteFinanciero" value="http://localhost:1197/ServicioCirugiaPaqueteFinanciero.asmx"/>
    <add key="RutaServicioTransferencia" value="http://localhost:1197/ServicioTransferencia.asmx"/>
    <add key="RutaServicioCirujano" value="http://localhost:1197/ServicioCirujano.asmx"/>
  </appSettings>
</configuration>