<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="RutaServicioCirugiaPersonalQ" value="http://192.168.1.112/Ceclimi/ServicioCirugiaPersonalQ.asmx"/>
    <add key="RutaServicioPaciente" value="http://192.168.1.112/Ceclimi/ServicioPaciente.asmx"/>
    <add key="RutaServicioCirujia" value="http://192.168.1.112/Ceclimi/ServicioCirugia.asmx"/>
    <add key="RutaServicioPaqueteFinanciero" value="http://192.168.1.112/Ceclimi/ServicioPaqueteFinanciero.asmx"/>
    <add key="RutaServicioPago" value="http://192.168.1.112/Ceclimi/ServicioPagos.asmx"/>
    <add key="RutaServicioCirugiaCirujano" value="http://192.168.1.112/Ceclimi/ServicioCirugiaCirujano.asmx"/>
    <add key="RutaServicioCirugiaPaqueteFinanciero" value="http://192.168.1.112/Ceclimi/ServicioCirugiaPaqueteFinanciero.asmx"/>
    <add key="RutaServicioTransferencia" value="http://192.168.1.112/Ceclimi/ServicioTransferencia.asmx"/>
    <add key="RutaServicioCirujano" value="http://192.168.1.112/Ceclimi/ServicioCirujano.asmx"/>
  </appSettings>
</configuration>
